/* Font Family ------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Color Root ------------------------------------------------- */
:root {
  --black: #212121;
  --light: #ffffff;
  --boldGray: #7f7e7e;
  --brandDiscord: #5865f2;
  --brandYoutube: #cd201f;
  --brandInstagram: #e4405f;
  --brandTelegram: #0088cc;
  --warning: #ffcc00;
}

/* Global Class ------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--black);
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* App ------------------------------------------------- */
.App {
  width: 100%;
  max-width: 1024px;
  background: var(--light);
  border-radius: 10px;
  display: flex;
  align-items: stretch;
}

/* Cover */
.App .cover {
  width: 60%;
  border-radius: 10px 0 0 10px;
  background: url("./images/adrew.jpg") center/cover;
}

/* Content */
.App .content {
  width: 40%;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
}

/* Title */
.App .content .title {
  text-align: center;
  margin-bottom: 2rem;
}

/* Warning */
.App .content .warning {
  width: 100%;
  padding: 0.5rem;
  background: var(--warning);
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.5rem;
  text-align: right;
  border-radius: 5px;
}

/* Input */
.App .content .input-field {
  text-align: right;
  margin-top: 1.5rem;
}

.App .content .input-field > input {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid var(--black);
  outline: none;
  font-size: 1rem;
  padding: 0.5rem;
}

/* Submit */
.App .content .sub-btn {
  width: 100%;
  padding: 10px;
  text-align: center;
  background: var(--black);
  border: none;
  color: var(--light);
  border-radius: 5px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Divider */
.App .content .divider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  gap: 5px;
  color: var(--boldGray);
  font-size: 0.9rem;
}

.App .content .divider .left,
.App .content .divider .right {
  width: 100%;
  height: 2px;
  background: var(--boldGray);
  border-radius: 10px;
}

/* Brand Links */
.App .content .links {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.App .content .links .circle {
  padding: 0.6rem;
  border: 2px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App .content .links .discord {
  border-color: var(--brandDiscord);
}

.App .content .links .youtube {
  border-color: var(--brandYoutube);
}
.App .content .links .instagram {
  border-color: var(--brandInstagram);
}
.App .content .links .telegram {
  border-color: var(--brandTelegram);
}

/* Media Query ------------------------------------------------- */
@media (max-width: 1024px) {
  .App {
    height: 100%;
    border-radius: 0;  
  }
  
  .divider {
    margin-top: auto;
  }
  
  .App .content,
  .App .cover {
    border-radius: 0;  
    width: 50%;
  }
}

@media (max-width: 680px) {
  .App .cover {
    display: none;
  }
  
  .App .content {
    width: 100%;
  }
}